<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h2>
        Used
        <%= used %> of
            <%= total %> bytes
    </h2>
    <form id="myForm" method="POST" enctype="multipart/form-data" action='/fileUpload' >
        <input type="file" id="file" name="testfile" />
        <input type="submit" value="Submit">
</form>

</body>

</html>