<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h2>
        Used
        <%= used %> of
            <%= total %> bytes
    </h2>
    <form action="fileupload" method="post" enctype="multipart/form-data">
        <input type='file' />
        <input type='submit' />
    </form>

</body>

</html>